<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="作品展示" />
<meta name="description" content="作品展示" />
<title>cs 作品</title>

<link href="../ui/css/callasing/lrtk.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../ui/js/callasing/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../ui/js/callasing/jquery.interactive_bg.js"></script>
<script type="text/javascript" src="../ui/js/callasing/nbw-parallax.js"></script>
<script type="text/javascript" src="../ui/js/callasing/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="../ui/js/callasing/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="../ui/js/callasing/jquery.inview.js"></script>
<link rel="stylesheet" href="../ui/css/callasing/photoswipe.css">
<link rel="stylesheet" href="../ui/css/callasing/default-skin.css">
<script src="../ui/js/callasing/photoswipe.min.js"></script>
<script src="../ui/js/callasing/photoswipe-ui-default.js"></script>
<script type="text/javascript" src="../ui/js/callasing/jquery.particleground.js"></script>
<script type="text/javascript" src="../ui/js/callasing/demo.js"></script>

</head>

<body>
<ul id="nav">
    <li class="one current"><a href="#header" title="Next Section"></a><span>你好呀！</span></li>
	<li class="two"><a href="#intro" title="Next Section"></a><span>看过来！</span></li>
    <li class="three"><a href="#second" title="Next Section"></a><span>我的作品！</span></li>
    <li class="four"><a href="#third" title="Next Section"></a><span>扫我扫我！</span></li>  
</ul>



<div id="header" data-ibg-bg="images11/header-bg.png">
    
    <div id="particles" class="particles"></div>

	<div class="story H-one">
        <dl class="logo">
            <dt><img src="../ui/images/callasing/logo.png" alt="" /></dt>
            <dd>CallaSing</dd>
        </dl>
        <div class="tree">Callasing 版权所有</div>
    </div> 
    <!--.story-->
</div> 
<!--#header-->
<div id="intro">
	<div class="story H-two">
    	<div class="bottle"></div>
        <div class="light_left_bottom"></div>
        <div class="light_right_bottom"></div>
        <div class="light_left"></div>
        <div class="light_right"></div>
        <div class="table_height"></div>
        <div class="blackboard"></div>
        <div class="cat_window"><div class="eye_left"></div><div class="eye_right"></div></div>
        <div class="cat1_window"></div>
        <div class="ladder"></div>
        <div style=" position: absolute;" id="cs_girl" class="cs_girl"></div>
    </div> <!--.story-->
</div> <!--#intro-->

<div id="second">
	<div class="story H-three">
        <div class="top_bar"></div>
        <div class="ladder_bottom"></div>
        <div class="photo"></div>
        <div class="ladder_1"></div>
        <div class="me_work"></div>
        <div class="girl_work"></div>

        <div class="work">
        <!-- product start --> 
    <div class="my-simple-gallery">
    <figure>
      <a href="../ui/images/callasing/work/2.jpg" data-size="964x1024">
          <img src="../ui/images/callasing/work/1.jpg" alt="Image description" />
      </a>
      <figcaption>Image caption  1</figcaption>
    </figure>
    <figure>
      <a href="../ui/images/callasing/work/f2.jpg" data-size="1024x540">
          <img src="../ui/images/callasing/work/f1.jpg"  alt="Image description" />
      </a>
      <figcaption>Image caption  2</figcaption>
    </figure>
    <figure>
      <a href="../ui/images/callasing/work/b2.jpg"data-size="1200x800">
          <img src="../ui/images/callasing/work/b1.jpg" alt="Image description" />
      </a>
      <figcaption>Image caption  3</figcaption>
    </figure>
    <figure>
      <a href="../ui/images/callasing/work/c2.jpg" data-size="900x598">
          <img src="../ui/images/callasing/work/c1.jpg" alt="Image description" />
      </a>
      <figcaption>Image caption  4</figcaption>
    </figure>
    <figure>
      <a href="../ui/images/callasing/work/d2.jpg" data-size="1400x1980">
          <img src="../ui/images/callasing/work/d1.jpg"  alt="Image description" />
      </a>
      <figcaption>Image caption  5</figcaption>
    </figure>
    </div>
    <!-- 弹出 -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

              </div>

            </div>

    </div>
<!-- product end -->
        </div>

    </div> <!--.story-->
    
</div> <!--#second-->

<div id="third">
	<div class="story H-four">
        <div class="top_bar"></div>
        <div class="ladder_bottom_1"></div>
        <div class="window_1"><div class="superman"></div></div>
        <div class="car"></div>
        <div class="cat"></div>
        <div class="cat_1"></div>
        <div class="cat_2"></div>
        <div class="clouds"></div>
        <div class="girl_code"></div>
        <div class="flower"></div>
    </div> <!--.story-->
</div> <!--#third-->


<script type="text/javascript">
$(document).ready(function(){
	$('#nav').localScroll();

})
</script>
<script>
    $("#header").interactive_bg({
   strength: 50,
   scale: 1,
   animationSpeed: "10ms",
   contain: true,
   wrapContent: false
   });
</script>
<script src="../ui/js/callasing/photoswipe_init.js"></script>
<!-- 代码 结束 -->
</body>
</html>
